@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6; /* gray-100 */
  color: #1f2937;           /* gray-800 */
  font-family: 'Inter', system-ui, sans-serif;
}
